@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


.container {
  position: relative;
  text-align: center;
}

.top-left {
  position: absolute;
  top: 20%;
  left: 8%;
  font-size:2.1em;
  margin:10px 0 20px;
}

.bottom-left {
  position: absolute;
  bottom: 50%;
  left: 8%;
  font-size:1em;
  margin:10px 0 20px;
}

.container img {
  opacity: 0.9;
}


h1 h2{ 
  font-family: 'Sorts Mill Goudy';
 }

p { 
  font-family: 'Sorts Mill Goudy';
 }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: .5em;
  float:right;
}

a.home {
  display: inline;
  padding: 16px;
  font-size: 17px;
  text-align: right;
  float:left;
  color: black;
}

a.reports {
  display: inline;
  padding: 16px;
  font-size: 17px;
  text-align: right;
  float:left;
  color: black;
}

a.about {
  display: inline;
  padding: 16px;
  font-size: 17px;
  text-align: right;
  float:left;
  color: black;
}

a.contact {
  display: inline;
  padding: 16px;
  font-size: 17px;
  text-align: right;
  float:left;
  color: black;
}

a.week {
  background-color:#d30d1e;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1em;
}

a.rev {
  background-color:#d30d1e;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1em;
}

a.wrap {
  background-color:#d30d1e;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1em;
}

a.twitter {
  background-color:#d30d1e;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1em;
}

a.email {
  background-color:#d30d1e;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1em;
}

a.club {
  background-color:#d30d1e;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1em;
}

a.contactme {
  display: inline;
  padding: 16px;
  font-size: 17px;
  text-align: right;
  float:center;
  color: black;
  text-decoration: underline;
  font-family: 'Sorts Mill Goudy';
}

li {
  display: inline;
  padding: 16px;
  font-size: 17px;
  text-align: right;
  float:left;
  color: black;
}

li a {
  display: block;
  padding: 8px;
  text-decoration: none;
}

header {
  padding: 20px;
}

#nav {
  padding: 20px;
  text-decoration:none;
  text-align: right;
}

article {
  padding: 20px;
}

footer {
  padding: 20px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  color: black;
  text-align: center;
}

section {
    padding: 20px;
}

#three_column { 
    padding: 20px;  
  }

  #left { 
    padding: 20px;
    float: left;
    width: 30%;
    text-align: center;
  }

    #middle { 
    padding: 20px;
    float: left;
    width: 30%;
    text-align: center;
  }
    

  #right {
    padding: 20px;
    float: right;   
    width: 30%;
    text-align: center;
}

#two_column { 
    padding: 20px 400px 20px 400px; 
  }

  #left2 { 
    float: left;
    width: 30%;
    text-align: center;
    padding: 20px;
  }
    

  #right2 {
    padding: 20px;
    float: right;   
    width: 30%;
    text-align: center;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

