@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


img.butterfly  { 
  opacity: 0.8;
}

.container {
  position: relative;
  text-align: center;
}

.top-left {
  position: absolute;
  top: 20%;
  left: 8%;
  font-size:2.1em;
  margin:0.7% 0 1.5%;
}

.bottom-left {
  position: absolute;
  bottom: 50%;
  left: 8%;
  font-size:1em;
  margin:0.7% 0 1.5%;
}

img.revimg {
   width: 100%;
 }

img.twit {
   width: 100%;
 }

img.wrapimg {
   width: 100%;
 }


img.emailimg {
   width: 100%;
 }

 img.imgclub  { 
  width: 100%;
 }

h1 h2{ 
  font-family: 'Sorts Mill Goudy';
 }

p { 
  font-family: 'Sorts Mill Goudy';
 }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: .5em;
  float:right;
}

a.home {
  display: inline;
  padding: 1.25%;
  font-size: 2em;
  text-align: right;
  float:left;
  color: black;
}

a.reports {
  display: inline;
  padding: 1.25%;
  font-size: 2em;
  text-align: right;
  float:left;
  color: black;
}

a.about {
  display: inline;
  padding: 1.25%;
  font-size: 2em;
  text-align: right;
  float:left;
  color: black;
}

a.contact {
  display: inline;
  padding: 1.25%;
  font-size: 2em;
  text-align: right;
  float:left;
  color: black;
}

a.week {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:1em;
  padding:16px 31px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a.rev {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:1em;
  padding:16px 31px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a.wrap {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:1em;
  padding:16px 31px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a.twitter {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:1em;
  padding:16px 31px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a.email {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:1em;
  padding:16px 31px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a.club {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:1em;
  padding:16px 31px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a.contactme {
  display: inline;
  padding: 1.25%;
  font-size: 1em;
  text-align: right;
  float:center;
  color: black;
  text-decoration: underline;
  font-family: 'Sorts Mill Goudy';
}

li {
  display: inline;
  padding: 16px;
  font-size: 1em;
  text-align: right;
  float:left;
  color: black;
}

header {
  padding: 1.5%;
}

#nav {
  padding: 1.5%;
  text-decoration:none;
  text-align: right;
}

article {
  padding: 1.5%;
  width: 100%;
}

footer {
  padding: 1.5%;
  color: black;
  font-family: 'Montserrat', sans-serif;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  color: black;
  text-align: center;
}

#three_column { 
    padding: 1.5%;  
  }

  #left { 
    padding: 1.5%;
    float: left;
    width: 30%;
    text-align: center;
  }

    #middle { 
    padding: 1.5%;
    float: left;
    width: 30%;
    text-align: center;
  }
    

  #right {
    padding: 1.5%;
    float: right;   
    width: 30%;
    text-align: center;
}

#two_column { 
    padding: 1.5%; 
  }

  #left2 { 
    float: left;
    width: 30%;
    text-align: center;
    padding: 1.5%;
  }
    

  #right2 {
    padding: 1.5%;
    float: right;   
    width: 30%;
    text-align: center;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media (max-width: 800px) {

.top-left {
  position: absolute;
  top: 30%;
  left: 8%;
  font-size:1.5em;
  margin:0.7% 0 1.5%;
}

.bottom-left {
  position: absolute;
  bottom: 10%;
  left: 8%;
  font-size:1em;
  margin:0.7% 0 1.5%;
}

img.butterfly  { 
  opacity: 0.5;
}

}

@media (max-width: 519px) {

.top-left {
  top: 30%;
  left: 8%;
  font-size:1.5em;
  margin:0.7% 0 1.5%;
  position: absolute;
  text-align:left;
}

.bottom-left {
  position: absolute;
  bottom: 10%;
  left: 8%;
  font-size:1em;
  margin:0.7% 0 1.5%;
}

img.butterfly  { 
  opacity: 0.4;
}

}

@media (max-width: 445px) {

img.butterfly  { 
  opacity: 0.3;
}

a.week {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:0.75em;
  padding:16px 31px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a.rev {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
 font-size:0.75em;
  padding:16px 31px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a.wrap {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
 font-size:0.75em;
  padding:16px 31px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a.twitter {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
 font-size:0.75em;
  padding:16px 31px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a.email {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
 font-size:0.75em;
  padding:16px 31px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a.club {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
 font-size:0.75em;
  padding:16px 31px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

}

@media (max-width: 441px) {

img.butterfly  { 
  opacity: 0.2;
}

li {
  display: inline;
  padding: 16px;
  font-size: 1em;
  text-align: right;
  float:left;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: .4em;
  float:left;
}

}

@media (max-width: 370px) {

img.butterfly  { 
  opacity: 0.2;
}

li {
  display: inline;
  padding: 8px;
  font-size: 1em;
  text-align: right;
  float:left;
  color: black;
}

a.week {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:0.75em;
  padding:8px 16px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a.rev {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
 font-size:0.75em;
  padding:8px 16px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a.wrap {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
 font-size:0.75em;
  padding:8px 16px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a.twitter {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
 font-size:0.75em;
  padding:8px 16px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a.email {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
 font-size:0.75em;
  padding:8px 16px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a.club {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
 font-size:0.75em;
  padding:8px 16px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}


}

@media (max-width: 300px) {


li {
  display: inline;
  padding: 8px;
  font-size: 1em;
  text-align: right;
  float:left;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: .3em;
  float:left;
}

a.week {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:0.75em;
  padding:4px 8px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a.rev {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
 font-size:0.75em;
  padding:4px 8px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a.wrap {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
 font-size:0.75em;
  padding:4px 8px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a.twitter {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
 font-size:0.75em;
  padding:4px 8px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a.email {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
 font-size:0.75em;
  padding:4px 8px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a.club {
  background-color:#d30d1e;
  -moz-border-radius:2.18%;
  -webkit-border-radius:2.18%;
  border-radius:28px;
  border:0.07% solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
 font-size:0.75em;
  padding:4px 8px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.top-left {
  position: absolute;
  top: 30%;
  left: 8%;
  font-size:1em;
  margin:0.7% 0 1.5%;
}

.bottom-left {
  position: absolute;
  bottom: 10%;
  left: 8%;
  font-size:1em;
  margin:0.7% 0 1.5%;
}

  }

