@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  text-align: left;
  font-family: Goudy;
  color: black;
  text-decoration: none;
}


.container {
  position: relative;
  text-align: center;
}

.top-left {
  position: absolute;
  top: 15%;
  left: 8%;
  font-size:2.1em;
  margin:10px 0 20px;
}
.bottom-left {
  position: absolute;
  bottom: 70%;
  left: 8%;
  margin:10px 0 20px;
}

.container_button {
  bottom: 60%;
  left: 8%;
  font-size:1em;
}

.container img {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

a {
  background-color:#d30d1e;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #d30d1e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1em;
}

h1 h2{ 
  font-family: 'Sorts Mill Goudy';
 }

h3{ 
  font-family: 'Montserrat', sans-serif;
 }

p { 
  font-family: 'Sorts Mill Goudy';
 }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: .5em;
}

li{
  display: inline;
  padding: 16px;
  font-size: 1.75em;
  text-align: right;
  float:right;
}

header {
  padding: 20px;
}

.nav {
  padding: 20px;
  text-decoration:none;
  text-align: right;
}

article {
  padding: 20px;
}

footer {
  padding: 20px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  color: black;
  text-align: center;
}

section {
    padding: 20px;
}

#three_column { 
    padding: 20px;  
  }

  #left { 
    padding: 20px;
    float: left;
    width: 30%;
    text-align: center;
  }

    #middle { 
    padding: 20px;
    float: left;
    width: 30%;
    text-align: center;
  }
    

  #right {
    padding: 20px;
    float: right;   
    width: 30%;
    text-align: center;
}

#two_column { 
    padding: 20px 400px 20px 400px;  
  }

  #left2 { 
    float: left;
    width: 40%;
    text-align: center;
    padding: 50px;
  }
    

  #right2 {
    padding: 50px;
    float: right;   
    width: 40%;
    text-align: center;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media (max-width: 800px) {
  
  nav {
    float: none;
  }

  nav a {
    margin: 0 1.6em .75em 0;
  }

    nav {
    float: none;
  } 
  nav {
    float: none;
  }
  nav a {
      margin: 0 1.6em .75em 0;

      img { 
  width: 230px;
  }

}

@media (max-width: 480px) {
  h1, nav {
    display: block;
    text-align: center;
  }
    nav a {
    margin: 0 1em 1em;
  }
    img { 
  width: 230px;
  }
    section, div {
    width: 100%;
    padding: .6em;
  }
     h2 {
    font-size: 1em;
    display: inline;
  }
    p, ul {
    margin: 1.8em .6em 0;
  }
    li {
    width: 80%;
    outline-width: .5em;
    padding: .5em;
  }
    li {
    width: 80%;
    outline-width: .5em;
    padding: .5em;
    height: 2em;
    line-height: 2em;
  }
}
